<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BankingApi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.banking.controller.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.banking.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>depositServlet</servlet-name>
    <servlet-class>com.banking.controller.depositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositServlet</servlet-name>
    <url-pattern>/accounts/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>withdrawServlet</servlet-name>
    <servlet-class>com.banking.controller.withdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawServlet</servlet-name>
    <url-pattern>/accounts/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transferServlet</servlet-name>
    <servlet-class>com.banking.controller.transferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferServlet</servlet-name>
    <url-pattern>/accounts/transfer</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpadteUserServletServlet</servlet-name>
    <servlet-class>com.banking.controller.UpadteUserServletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpadteUserServletServlet</servlet-name>
    <url-pattern>/users/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.banking.controller.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/accounts</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpadateAccountServlet</servlet-name>
    <servlet-class>com.banking.controller.UpadateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpadateAccountServlet</servlet-name>
    <url-pattern>/accounts/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfigAndContent</display-name>
    <servlet-name>ServletConfigAndContent</servlet-name>
    <servlet-class>com.banking.controller.ServletConfigAndContent</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>config value</param-value>
      
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigAndContent</servlet-name>
    <url-pattern>/configandcontext</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>context</param-name>
    <param-value>context value</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/400.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.banking.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/myapi/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>